################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vs
.key.txt
/NowEventGrande/NowEventGrande/Validators/obj/Debug/net6.0/NowEvent.Validators.assets.cache
/NowEventGrande/NowEventGrande/Validators/obj/Debug/net6.0/NowEvent.Validators.csproj.AssemblyReference.cache
/NowEventGrande/NowEventGrande/Validators/obj/Debug/net6.0/NowEvent.Validators.GeneratedMSBuildEditorConfig.editorconfig
/NowEventGrande/NowEventGrande/NewEventAppTest/obj/Debug
/NowEventGrande/NowEventGrande/WebApplication2/appsettings.json
/NowEventGrande/NowEventGrande/WebApplication2/appsettings.Development.json
/NowEventGrande/NowEventGrande/WebApplication2/bin/Debug/net6.0
/NowEventGrande/NowEventGrande/WebApplication2/obj
/NowEventGrande/NowEventGrande/node_modules
/NowEventGrande/NowEventGrande/React/node_modules
/NowEventGrande/NowEventGrande/WebApplication2/key.txt
/NowEventGrande/NowEventGrande/WebApplication2.Data/bin/Debug/net6.0
/NowEventGrande/NowEventGrande/WebApplication2.Data/obj/Debug/net6.0
/NowEventGrande/NowEventGrande/WebApplication2.Data/obj/Release/net6.0
/NowEventGrande/NowEventGrande/WebApplication2.Data/obj/project.assets.json
/NowEventGrande/NowEventGrande/WebApplication2.Data/obj/project.nuget.cache
/NowEventGrande/NowEventGrande/WebApplication2.Models/bin/Debug/net6.0
/NowEventGrande/NowEventGrande/WebApplication2.Models/obj/Debug/net6.0
/NowEventGrande/NowEventGrande/WebApplication2.Models/obj/Release/net6.0
/NowEventGrande/NowEventGrande/WebApplication2.Models/obj/project.assets.json
/NowEventGrande/NowEventGrande/WebApplication2.Models/obj/project.nuget.cache
/NowEventGrande/NowEventGrande/WebApplication2.Data/obj
/NowEventGrande/NowEventGrande/WebApplication2.Models/obj
/NowEventGrande/NowEventGrande/Validators/bin/Debug/net6.0
/NowEventGrande/NowEventGrande/Validators/obj
/NowEventGrande/NowEventGrande/NewEventTest/bin/Debug/net6.0
/NowEventGrande/NowEventGrande/NewEventTest/obj/Debug/net6.0
/NowEventGrande/NowEventGrande/NewEventTest/obj