.loginForm {
  height: 260px;
  margin-top: 20px;
}

.registerForm {
  height: 1500px;
  margin-top: 20px;
}

.registerInput {
  width: 300px;
  padding: 15px;
  margin: auto;
}

.registerButton {
  padding: 20px;
  background-color: rgb(126, 78, 214);
  color: aliceblue;
  font-size: 18px;
  margin-top: 30px;
  width: 300px;
}
.registerButton:hover {
  background: rgb(154, 109, 240);
}

.signInModal {
  z-index: 9999;
  color: rgb(0, 0, 0);
  text-align: center;
  position: absolute;
  top: 200px;
  vertical-align: middle;
}

.registerCompleted {
  color: rgb(124, 182, 37);
  font-size: 30px;
}

.registerMessage {
  height: 1500px;
  font-size: 20px;
  margin-top: 20px;
}
