.addCost {
  width: 150px;
}

.saveCosts {
  background-color: rgb(126, 78, 214);
  padding: 5px;
  margin: 10px;
  margin-left: 30px;
  width: 100px;
  color: #ffffff;
  border: 0px;
  border-radius: 20px;
  font-size: 20px;
  float: right;
}

.budgetForm > div {
  background-color: rgba(63, 63, 63, 0.472);
  padding: 15px;
  font-size: 23px;
  text-align: center;
}

.editCost {
  background-color: rgb(126, 78, 214);
  padding: 5px;
  margin: 10px;
  margin-left: 30px;
  width: 100px;
  color: #ffffff;
  border: 0px;
  border-radius: 20px;
  font-size: 20px;
  float: right;
}

.costInput {
  width: 80px;
}
