.react-calendar {
    width: 390px;
    max-width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    margin: auto;
    padding: 5px;
  }
  .react-calendar--doubleView {
    width: 700px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
    border-radius: 10px;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    height: 44px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 23px;
    
  }
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
    
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
    color: black;
  }
  .react-calendar__month-view__weekNumbers {
    font-weight: bold;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
  }
  .react-calendar__month-view__days__day--weekend {
    color: #d10000;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  .react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background: none;
    
  }
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar__tile--now {
    background: rgb(246, 145, 134);
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: salmon;
  }
  .react-calendar__tile--hasActive {
    background: #8b00dc;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  .react-calendar__tile--active {
    background: #7c356a;
    color: white;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #7c356a;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }

  .clockContainer {
    margin: auto;
  }

  .clock {
    background-color: rgba(78, 78, 78, 0.472);
    border-radius: 20px;
    padding: 15px;
    margin: auto;
    width: 350px;
  }

  .clock > p {
    display: inline-block;
    font-size: 25px;
    margin: auto;
    position: relative;
    top: -20px;
  }

  .clock > input {
    width: 60px;
    height: 50px;
    font-size: 23px;
    text-align: center;
    padding-left: 10px;
    border-radius: 15px;
    border: 0px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    top: -20px;

  }
  
  .clockTitle {  
    margin-top: 15px;
  }

  .AM {
    width: 50px;
    height: 52px;
    background-color: #7c356a;
    border-radius: 15px 0px 0px 15px;
    padding: 0.5em;
    -webkit-appearance: none;
    text-align: center;
    margin: 0px;
    
  }

  .PM {
    width: 50px;
    height: 52px;
    background-color: #7c356a;
    border-radius: 0px 15px 15px 0px;
    padding: 0.5em;
    -webkit-appearance: none;
    text-align: center;
    margin: 0px;
  }

  input[type=radio] {
    
  }

  input[type=radio]:focus {
    outline-color: transparent;
  }

  input[type=radio]:checked {
    background-color: salmon;
    background-size: 9px 9px;
  }

  .clockLabel span:first-of-type {
    position: relative;
    font-size: 15px;
    color: #ffffff;
    
  }


  .clockLabel span{
    position: relative;
    top: -45px;
    
  }

  .clockLabel {
    width: 50px;
    height: 50px;
    margin: auto;
  }

  .AMPM {
    display: inline;
    margin: auto;
    position: relative;
    top: 20px;
  }



