* {
  box-sizing: border-box;
}

[class*="Event-col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .Event-col-1 {width: 8.33%;}
  .Event-col-2 {width: 16.66%;}
  .Event-col-3 {width: 25%;}
  .Event-col-4 {width: 33.33%;}
  .Event-col-5 {width: 41.66%;}
  .Event-col-6 {width: 50%;}
  .Event-col-7 {width: 58.33%;}
  .Event-col-8 {width: 66.66%;}
  .Event-col-9 {width: 75%;}
  .Event-col-10 {width: 83.33%;}
  .Event-col-11 {width: 91.66%;}
  .Event-col-12 {width: 100%;}
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


.event {
  text-align: center;
  font-family: "Trebuchet MS";
  padding: 200px 0 100px 0;
  background-image: url("../images/blackWallpaper.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height:auto;
  width: auto;
}

.event h1 {
  text-align: center;
  color: #ffffff;
  font-size: 55px;
  border-radius: 20px;
  padding: 40px 100px;
  margin-bottom: 20px;

  background: linear-gradient(
    90deg,
    rgb(25, 2, 47) 0%,
    rgb(25, 157, 197) 100%
  );
}

h2 {
  margin-bottom: 30px;
}

.event h3 {
  font-family: Calibri;
  margin-bottom: 40px;
}

.column-3 {
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 20px;
  border-radius: 25px;
}

.tile {
  border-color: #cd83ff;
  border-width: 2px;
  border-style: solid;
  color: rgb(255, 255, 255);
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 20px;
  margin-bottom: 10px;
  border-radius: 25px;
  transition: .5s;
  background-color: #1d1d1d;
}

.tile:hover {
  color: rgb(253, 189, 115);
  transform: scale(1.1);
  box-shadow: 0 0 25px #cd83ff;
  
}

.tile:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 25px #cd83ff;
}

.tile::before{
  background: #ffee10;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}


.tileText {
  text-align: center;
  font-size: 35px;
}

.tileTextSmall{
  text-align: center;
  font-size: 20px;
}

.tileContainer {
  display: flex;
  justify-content: center;
}


.tilesContainer button {
  flex-basis: 300px;
}


.createEventForm {  
 display: block;
  font-size: 25px;
}

.eventType{
  margin-top: 10px !important;
  margin-bottom: 5px !important;
}

.addEventButton {
  border: 0;
  background-color:rgb(75, 178, 219);
  border-radius: 20px;
  padding: 20px 40px;
  font-size: 20px;
  margin: 20px;
}

.eventName { 
  margin-bottom: 10px;
}

            
ol li {
  list-style-type: none;
  counter-increment: item;
  margin-bottom: 20px;
  padding-left: -10px;
}

ol li:before {
  content: counter(item);
  float: left;
  margin: auto;
  margin-bottom: 10px;
  margin-left: -35px;
  font-size: 20px;
  background-color: #ffe59d;
  color: #000000;
  font-weight: bold;
  padding: 3px 10px;
  border-radius: 3px;
}

.infoNote{
  color: #ffe6a1;
}

.infoPanel{
  margin: auto;
  text-align: center;
  background-color: rgba(63, 63, 63, 0.472);
  border-radius: 15px;
  padding: 15px;
}

.assistanceIcon {
  margin: auto;
  width: 150px;
}

.featureIcon {
  filter: brightness(90%) hue-rotate(50deg);
  width: 50px;
  padding-top: 20px;
}

@media only screen and (min-width: 400px) {
  .featureIcon {
    width: 150px;
  }
  .bigIcon{
    width: 500px;
  }
}


.addCost {
  width: 150px;
}

.saveCosts {
  background-color:rgb(126, 78, 214);
  padding: 5px;
  margin: 10px;
  margin-left: 30px;
  width: 100px;
  color:#ffffff;
  border: 0px;
  border-radius: 20px;
  font-size: 20px;
  float:right;
}

.container-fluid {
  background-image: url("../images/blackWallpaper.jpg");
}


.budgetForm {
  font-size: 23px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 30px;
  display: grid;
  column-gap: 50px;
}

.budgetForm > div {
  background-color: rgba(63, 63, 63, 0.472);
  padding: 15px;
  font-size: 23px;
  text-align: center;
}

.editCost {
  background-color:rgb(126, 78, 214);
  padding: 5px;
  margin: 10px;
  margin-left: 30px;
  width: 100px;
  color:#ffffff;
  border: 0px;
  border-radius: 20px;
  font-size: 20px;
  float:right;
}

.costInput {
  width: 80px;
}


.progressBarContainer {
  margin:auto;
  text-align: center;
  position: relative;
  top: -35px;
}

.progressText {
  font-size: 24px;
  margin:auto;

}


.half {
  font-size: 14px;
  color: #7c7c7c;
}

.label {
  display: inline-block;
  margin: 0 0 20px 0;
  padding: 5px 0;
  width: 52px;
  color: #aaa;
  text-shadow: 0 1px black;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.radio:checked + .label {
  color: white;
  background: rgba(0, 0, 0, 0.25);
}

.progress {
  margin: auto;
  width: 400px;
  height: 12px;
  text-align: center;
  position: relative;
}

.progress {
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 12px #fa8f6e;
}

.progress-bar {
  width: 0%;
  background: #f88030;
  height: 12px;
  border-radius: 30px;
  transition: 2.5s linear;
  transition-property: width, background-color;
}

.saveDate {
  background-color:rgb(126, 78, 214);
  padding: 5px;
  margin: auto;
  margin-top: 15px;
  width: 150px;
  color:#ffffff;
  border: 0px;
  border-radius: 20px;
  font-size: 20px;
  float:right;
  text-align: center;
}

.offerInformation {
    text-align: center;
    margin: auto;
    word-wrap: break-word;
    margin-left: 100px;
    margin-top: 20px;
}

.postOffer {
  background-color:rgb(126, 78, 214);
  padding: 7px;
  margin: auto;
  margin-top: 30px;
  width: 200px;
  color:#ffffff;
  border: 0px;
  border-radius: 20px;
  font-size: 22px;
  text-align: center;
}


.countdown {
  background-color: #000000;
  border-radius: 20px;
  margin: 30px;
  padding: 16px;
  font-size: 58px !important;
  
}

.timer-counter {
  background: #5c5c5c5d !important;
  font-size: 36px !important;
  border-radius: 10px !important;
  width: 80px !important;
  padding: 20px !important;
  margin: auto !important;
  margin-top: 10px !important;
  
}

.summaryStats {
  margin-top: 20px;
  font-size: 20px;
}

.wrongInputMessage {
  color: red;
  font-size: 19px;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

.form-control{
  margin: auto;
  width: 400px;
  margin-top: 35px;
  margin-bottom: 25px;
}

.infoWindow{
  color: black;
  display: block;
}


.notSignedInInfo {
  height: 1200px;
  font-size: 27px;
  color: #ffee10;
 
}

.createdEventsInfo {
  font-size: 27px;
  color: #2ac6e2;
  text-align: left;
  margin-bottom: 30px;
}

.visibilityButton {
  margin: auto;
}

.passwordInput {
  margin-left: 25px;
}






















