hr.solid {
  border-top: 3px solid #bbb;
}

.guestList {
  margin: auto;
  margin-top: 10px;
}

.removeButton {
  margin-left: 30px;
}

.guestInfo {
  font-size: 23px;
}

.addButton {
  border: 0;
  background-color: rgb(75, 178, 219);
  border-radius: 20px;
  padding: 20px 20px;
  font-size: 20px;
  margin: auto;
  margin-bottom: 15px;
}

.removeModal {
  color: rgb(0, 0, 0);
  text-align: center;
  position: absolute;
  float: left;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}

.modal {
  position: fixed;
}

.modal-title.h4 {
  margin-left: auto;
  margin-right: auto;
}

.removeButtons {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.rejectButton {
  background-color: rgb(156, 25, 25);
  padding: 10px;
  margin: 10px;
  width: 150px;
  color: #ffffff;
  border-radius: 20px;
}

.acceptButton {
  background-color: rgb(38, 24, 78);
  padding: 10px;
  margin: 10px;
  width: 150px;
  color: #ffffff;
  border-radius: 20px;
}

.addGuestContainer {
  display: block;
  font-size: 20px;
  padding: 10px 2px;
  border: solid 1px #ffffff;
  width: 280px;
  margin: auto;
  margin-top: 20px;
}

.addGuest {
  margin: 5px;
}

.saveGuest {
  background-color: rgb(126, 78, 214);
  padding: 10px;
  margin: 10px;
  width: 150px;
  color: #ffffff;
  border: 0px;
  border-radius: 20px;
}

.eventTitle {
  position: absolute;
  float: left;
  left: 10%;
  top: 10%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}

.sortGuests {
  margin-bottom: 40px;
  font-size: 20px;
  margin: 10px;
}

.addGuestForm {
  margin-left: 20px;
}

.rangeContainer {
  margin: auto;
  margin-top: 10px;
}

.saveRange {
  background-color: rgb(126, 78, 214);
  padding: 15px;
  margin: auto;
  margin-left: 15px;
  width: 180px;
  color: #ffffff;
  border: 0px;
  border-radius: 20px;
}

.saveRange {
  background-color: rgb(126, 78, 214);
  padding: 15px;
  margin: auto;
  margin-left: 15px;
  width: 180px;
  color: #ffffff;
  border: 0px;
  border-radius: 20px;
  font-size: 20px;
}

.saveRange:focus {
  background-color: rgb(23, 195, 167);
  padding: 15px;
  margin: auto;
  margin-left: 15px;
  width: 180px;
  color: #ffffff;
  border: 0px;
  border-radius: 20px;
}

.rangeCol {
  margin-top: 35px;
}
