.awSlider .carousel{
    display:table;
    z-index:2;
    -moz-box-shadow: 0 0 4px #444;
      -webkit-box-shadow: 0 0 4px #444;
      box-shadow: 0 0 15px rgba(1,1,1,.5);
  }
  
  .awSlider{
    margin:30px auto;
    padding:30px;
    position:relative;
    display:table;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
 .awSlider:hover > img{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity:1;
  }
  
  .awSlider img{
     pointer-events: none;
  }
  
  .awSlider > img{
    position:absolute;
    top:30px;
    z-index:1;
    transition:all .3s;
    filter: blur(1.8vw);
    -webkit-filter: blur(2vw);
    -moz-filter: blur(2vw); 
    -o-filter: blur(2vw); 
    -ms-filter: blur(2vw);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity:.5;
  }

/* .carousel{
    
    z-index:2;
    -moz-box-shadow: 0 0 4px #444;
      -webkit-box-shadow: 0 0 4px #444;
      box-shadow: 0 0 15px rgba(1,1,1,.5);
} */


.carouselImage {
    height: 350px;
    padding: 50px;
   
}

.carouselLight{
    padding: 50px;
    opacity: 0.75;
    filter: blur(30px);
    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.carousel .thumb img {
    height: 50px;
    padding: 0px;
}

/* .carousel img{
    height: 200px;
    
}

.carousel >img{
    opacity: 0.75;
    filter: blur(50px);
    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} */

/* .slide selected previous{
    width:200px;
} */