.rateSlider {
    -webkit-appearance: none;
    width: 50%;
    height: 10px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .rateSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #d88d16;
    cursor: pointer;
  }
  
  .rateSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }